body{
    background-image: url(../img/mountain-view-morning-light_149326-1929.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: blue;
    margin: 5px;text-align: center;
}

.ligh-blue{
    background-color: #6b8bb7;
}
.d-blue{
    background-color: #5786b6;
}
.cr-gray{
    color: black;
    background-color: #b1b6d1;
}
.light-pink{
    background-color: #dcb7c9;
}